@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --header-height: 85px;
    --logo-height: calc(var(--header-height) - 20px);
    --title-size: clamp(1.5rem, 4vw, 2.5rem);
    --font-base: 14px;
    --margin-wrapper: calc(var(--header-height) - calc((var(--header-height) - 10px)));
    --title-weight: 200;
    --header-background: linear-gradient(90deg, rgba(253, 195, 0, 1) 0%, rgba(220, 88, 28, 1) 35%, rgba(199, 59, 33, 1) 100%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-base);
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background: var(--header-background);
    height: var(--header-height);
    overflow: hidden;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content:space-around[


    
    ];
    margin: var(--margin-wrapper);
}

.header__logo{ 
    height: var(--logo-height);
}

.header__title{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: var(--title-weight);
    font-size: var(--title-size);
    /* background-color: aqua; */
}

